{% extends 'base.html.twig' %} {% block content %}
<div class="main-container">
  <main id="historikBox" class="historik-box">
    <header class="historik-header">
      <h1>{{'history.title'|trans}}</h1>
      <div class="divider dark"></div>
    </header>

      {% if medicinLogs is empty %}
      <p class="no-meds-msg">{{home.noMedsMsg|trans}}</p>
      {% else %}
      <div class="historik-table-wrapper">
        <table class="historik-table">
          <thead> 
            <tr class="historik-table-header">
              <th scope="col">{{'history.tableStatus'|trans}}</th>
              <th scope="col">{{'home.tableMedName'|trans}}</th>
              <th scope="col">{{'history.tableTime'|trans}}</th>
              <th scope="col">{{'history.tableLocation'|trans}}</th>
            </tr>
          </thead>
          <tbody class="historik-table-body">
            {% for medicin in medicinLogs %}
            <tr class="historik-table-row">
              {% if medicin.TagetStatus == '0' %}
              <td class="historik-table-status red">Ikke taget til tiden</td>
              {% elseif medicin.TagetStatus == '1' %}
              <td class="historik-table-status green">Taget</td>
              {% elseif medicin.TagetStatus == '2' %}
              {%endif%}
              <td>{{ medicin.medikamentNavn }}</td>
              <td>{{ medicin.tagetTid|format_datetime('long', 'short', locale:'da') }}</td>
              <td>{{ medicin.tagetLokale.value }}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      {%endif%}
  </main>
</div>
{% endblock %}
