{% extends 'base.html.twig' %} {% block content %}
<div class ="user-info-container">
  <div class="user-info">
    <h1>Logget ind som:</h1>
    <h2>{{ Navn }}</h2>
  </div>
  <div class="line-separator dark"></div>
</div>

<!-- Start of the main container -->
<div class="main-container">
  <!-- Medicine status box -->
  <div
    id="medStatusBox"
    class="med-status-box"
    data-medicine-status="{{ lastLog.tagetStatus }}">
    <header class="med-status-header">
      <h1>Seneste medicin status</h1>
      <div class="line-separator darker"></div>
    </header>

    <main class="main-status-content">
      <!-- Medicine status Name -->
      <section class="med-name">
        <h3>{{ lastLog.medikamentNavn }}</h3>
      </section>

      <!-- Medicine status details -->
      <section class="med-status-details">
        <div class="med-status-labels">
          <h2>Medicin taget kl:</h2>
          <h2>Medicin taget i:</h2>
        </div>
        <div class="med-status-values">
          <h2>{{ lastLog.tagetTid }}</h2>
          <h2>{{ lastLog.tagetLokale }}</h2>
        </div>
      </section>
    </main>
  </div>
  <!-- End of the medicine status box -->

  <!-- Next medicine box -->
  <section id="nextMedBox" class="next-med-box">
    <header class="next-med-header">
      <h2>Næste medicin som skal tages idag</h2>
    </header>

    <div id="nextMedInfo" class="next-med-info">
      <div class="line-separator darker"></div>
      <!-- First medicine row -->
      <table class="next-med-box-table">
        <thead>
          <tr class="next-med-header-row">
            <th>Medikament</th>
            <th>Skal tages:</th>
            <th>Skal senest tages:</th>
            <th>Prioritet</th>
          </tr>
        </thead>
        <tbody class="next-med-table-body">
          {% for medicin in restMedsIdag %}
          <tr class="next-med-cell">
            <td>{{ medicin.medikamentNavn }}</td>
            <td>{{ medicin.tidspunktTages }}</td>
            <td>{{ medicin.sidstTages }}</td>
            <td>{{ medicin.prioritet }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
<!-- End of main container -->
{% endblock %}
