{% extends 'base.html.twig' %} {% block content %}
<!-- Start of the main container -->
<div class="main-container">
  <!-- Medicine status box -->
  {%if lastLog%}
  <div
    id="medStatusBox"
    class="med-status-box"
    data-medicine-status="{{ lastLog.tagetStatus }}">
    <header class="med-status-header">
      <h1>{{'home.medTitle'|trans}}</h1>
      <div class="divider dark"></div>
    </header>

    <main class="main-med-status-content">
      <!-- Medicine status Name -->
      <section class="med-name">
        <h2>{{ lastLog.medikamentNavn }}</h2>
      </section>

      <!-- Medicine status details -->
{% if lastLog.tagetStatus == 1 %}
      <section class="med-status-details">
        <div class="med-status-labels">
          <span> {{'home.medStatusLabel1'|trans}}</span>
          <span> {{'home.medStatusLabel2'|trans}}</span>
        </div>
        {% else %}
        <div class="med-status-labels">
          <span> {{'home.medStatusLabel3'|trans}}</span>
          <span> {{'home.medStatusLabel4'|trans}}</span>
          {% endif %}
        <div class="med-status-values">
          <span>{{ lastLog.tagetTid|date('H:i') }}</span>
          <span>{{ lastLog.tagetLokale.value }}</span>
        </div>
      </section>
    </main>
  </div>
  {% else %}
  <!-- If no medicine status is available -->
  <div class="med-status-box">
    <header class="med-status-header">
      <h1>{{'home.medTitle'|trans}}</h1>
      <div class="divider dark"></div>
    </header>

    <main class="main-med-status-content">
      <p>{{'home.noMedStatus'|trans}}</p>
    </main>
  </div>
  {% endif %}
  <!-- End of the medicine status box -->

  <!-- Next medicine box -->
  <section id="nextMedBox" class="next-med-box">
    <header class="next-med-header">
      <h1>{{'home.nextMedTitle'|trans}}</h1>
    </header>

    <div id="nextMedInfo" class="next-med-info">
      <div class="divider dark"></div>
      {% if restMedsIdag is empty %}
      <p class="no-meds-msg">{{'home.noNextMed'|trans}}</p>
      {% else %}
      <!-- First medicine row -->
      <table class="next-med-box-table">
        <thead>
          <tr class="next-med-header-row">
            <th scope="col">{{'home.tableMedName'|trans}}</th>
            <th scope="col">{{'home.tableMedTime'|trans}}</th>
            <th scope="col">{{'home.tableMedLastTime'|trans}}</th>
            <th scope="col">{{'home.tableMedPriority'|trans}}</th>
          </tr>
        </thead>

        <tbody>
          {% for medicin in restMedsIdag %}
          <tr class="next-med-cell">
            <td class="next-med-cell-bg">{{ medicin.medikamentNavn }}</td>
            <td class="next-med-cell-bg">{{ medicin.tidspunktTages }}</td>
            <td class="next-med-cell-bg">{{ medicin.sidstTages }}</td>
            <td class="{{ medicin.prioritet | priority_class }}">
              {{ medicin.prioritet }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </section>
</div>
<!-- End of main container -->
{% endblock %}
