{% extends 'base.html.twig' %}

{% block content %}
    <div class="main-container login-page">
        <aside class="logged-in-info">
            {% if app.user %}
                <h1>
                    Du er logget ind som: <span>{{ app.user.fuldeNavn }}</span>
                </h1>
                <a href="{{ path('logout') }}">Log ud</a>
            {% else %}
                <h1>Du er ikke logget ind endnu</h1>
            {% endif %}
        </aside>
        <div class="divider login-Header dark"></div>

        <main>
            <section id="loginBox" class="login-box">
                <header class="login-box__header">
                    <h2>Log ind</h2>
                    <div class="divider dark"></div>
                </header>
                <section class="login-box__description">
                    <p>Log ind for at få adgang til systemet.</p>
                    <p>Udfyld venligst formularen nedenfor.</p>
                </section>

                <form class="login-box__form" method="post" action="{{ path('login') }}">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <p class="login-box__form--row">
                        <label for="email">
                            E-mailadresse<span class="required" aria-hidden="true">*</span>
                        </label>
                        <input
                            type="email"
                            class="login-box__form--input"
                            name="_username"
                            id="username"
                            value="{{ last_username|default('') }}"
                            autocomplete="email"
                            required
                            aria-required="true" />
                    </p>
                    <p class="login-box__form--row">
                        <label for="password">
                            Adgangskode
                            <span class="required" aria-hidden="true">*</span></label>
                        <input
                            type="password"
                            class="login-box__form--input"
                            name="_password"
                            id="password"
                            autocomplete="current-password"
                            required
                            aria-required="true" />
                    </p>
                    <p class="login-box__form--row">
                        <label class="login-box__form--remember-me">
                            <input
                                class="login-box__form--checkbox"
                                name="rememberme"
                                type="checkbox"
                                value="forever"
                                id="remember_me" />
                            <span class="login-box__form--checkbox-label">Husk mig</span>
                        </label>
                    </p>
                    <p class="login-box__form--row">
                        <button
                            type="submit"
                            class="login-box__form--button"
                            name="login"
                            value="Log Ind">
                            Log Ind
                        </button>
                    </p>
                </form>
            </section>

            <section id="registerBox" class="register-box">
                <header class="register-box__header">
                    <h2>Opret en ny bruger</h2>
                    <div class="divider dark"></div>
                </header>
                <section class="register-box__description">
                    <p>Opret en ny bruger for at få adgang til systemet.</p>
                    <p>Udfyld venligst formularen nedenfor.</p>
                </section>

                <form method="post" class="register-box__form">
                    {{ form_start(registrationForm, { action: path('register') }) }}

                    <p class="register-box__form--row">
                        {{ form_row(registrationForm.FuldeNavn, {
                            label: 'Fulde navn',
                            attr: { class: 'register-box__form--input' }
                        }) }}
                    </p>
                    <p class="register-box__form--row">
                        {{ form_row(registrationForm.email, {
                            label: 'Email',
                            attr: { autocomplete: 'email', class: 'register-box__form--input' }
                        }) }}
                    </p>
                    <p class="register-box__form--row">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Adgangskode',
                            attr: { class: 'register-box__form--input' }
                        }) }}
                    </p>
                    <p class="register-box__form--row">
                        <button
                            type="submit"
                            class="register-box__form--button"
                            name="register"
                            value="Opret bruger">
                            Opret Bruger
                        </button>
                    </p>
                    {{ form_end(registrationForm) }}
                </form>
            </section>

        </section>
    </main>
</div>
{% endblock %}