{% extends 'base.html.twig' %} {% block content %}
<div class="main-container login-page">
  {% if app.user %}
  <section class="logged-in-info">
    <h1>Du er logget ind som {{ app.user.fuldeNavn }}</h1>
    <a href="{{ path('logout') }}">Log ud</a>
  </section>
  {% else %}
  <section class="logged-in-info">
    <h1>Du er ikke logget ind endnu</h1>
  </section>
  {% endif %}
  <div class="line-separator loginHeader darker"></div>

  <!--Container for the login form beside the registration form-->
  <main>
    <section id="loginBox" class="login-container">
      <form method="post" action="{{ path('login') }}">
        {% if error %}
        <div class="alert alert-danger">
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}

        <header class="login-header">
          <h2>Log Ind</h2>
          <div class="line-separator darker"></div>
        </header>
        <label for="email">Email adresse</label>
        <input
          type="email"
          value="{{ last_username|default('') }}"
          name="_username"
          id="username"
          class="form-input"
          autocomplete="email"
          required
          autofocus />
        <label for="password">Adgangskode</label>
        <input
          type="password"
          name="_password"
          id="password"
          class="form-input"
          autocomplete="current-password"
          required />

        <input
          type="hidden"
          name="_csrf_token"
          value="{{ csrf_token('authenticate') }}" />

        <div class="form-checkbox">
          <input type="checkbox" name="_remember_me" id="_remember_me" />
          <label for="_remember_me">Forbliv Logget Ind</label>
        </div>

        <button class="btn-submit" type="submit">Log Ind</button>
      </form>
    </section>

    <!--Container for the registration form beside the login form-->
    <section id="registerBox" class="register-container">
      <header class="register-header">
        <h2>Opret en ny bruger</h2>
        <div class="line-separator darker"></div>
      </header>

      <section class="register-description">
        <p>For at kunne bruge systemet, skal du oprette en bruger.</p>
        <p>Udfyld venligst formularen, hvis du ikke allerede har en bruger.</p>
      </section>

      <section class="register-form">
        {{ form_start(registrationForm, { action: path("register") }) }}

        {{
          form_row(registrationForm.FuldeNavn, {
            label: "Fulde navn"
          })
        }}
        {{
          form_row(registrationForm.email, {
            label: "Email",
            attr: {autocomplete: "email"}
          })
        }}

        {{
          form_row(registrationForm.plainPassword, {
            label: "Adgangskode"
          })
        }}

        <button type="submit" class="btn">Opret Bruger</button>
        {{ form_end(registrationForm) }}
      </section>
    </section>
  </main>
</div>

{% endblock %}
