{% extends 'base.html.twig' %} {% block content %} {% import
'/macro/_form_macros.html.twig' as forms %}
<!--Importing the form macros for input fields and buttons for login-->

<div class="main-container medicin">
  <main class="medicinListe-container__overview">
    <!--Container for overview of medikamenter-->
    <header class="medicinListe-container__header">
      <h1>{{ "medicin.mainTitle" | trans }}</h1>
      <div class="divider dark"></div>
    </header>

    <section class="medicinListe-container__table-wrapper">
      <table class="medicinListe-container__table">
        <thead>
          <tr class="medicinListe-container__table-header">
            <th scope="col">{{ "medicin.tableMedName" | trans }}</th>
            <th scope="col">{{ "medicin.tableTime" | trans }}</th>
            <th scope="col">{{ "medicin.tableDosage" | trans }}</th>
            <th scope="col">{{ "medicin.tableTimeInterval" | trans }}</th>
            <th scope="col">{{ "medicin.tablePriority" | trans }}</th>
            <th scope="col">{{ "medicin.tableDelete" | trans }}</th>
          </tr>
        </thead>

        {% if medicinList is not empty %}
        <tbody class="medicinListe-container__table-body">
          {% for medicin in medicinList %}
          <tr class="medicinListe-container__table-row">
            <td>{{ medicin.medikamentNavn }}</td>
            <td>
              {% if medicin.tidspunkterTages|length == 4 %}
              {{ medicin.tidspunkterTages[0] }}, {{ medicin.tidspunkterTages[1]
              }}<br />
              {{ medicin.tidspunkterTages[2] }},
              {{ medicin.tidspunkterTages[3] }}
              {% else %}
              {{ medicin.tidspunkterTages|join(', ') }}
              {% endif %}
            </td>
            <td>{{ medicin.dosis }} {{ medicin.enhed }}</td>
            <td>{{ medicin.timeInterval }} min</td>
            <td class="{{ medicin.prioritet | priority_class }}">
              {{ medicin.prioritet }}
            </td>
            <td class="delete-cell">
              <form
                method="post"
                action="{{ path('delete_medicin', { id: medicin.id }) }}"
                onsubmit="return confirm('{{
                  'medicin.confirmDelete' | trans
                }}');"
                class="delete-form">
                <input
                  type="hidden"
                  name="_token"
                  value="{{ csrf_token('delete' ~ medicin.id) }}" />
                <button class="delete-x">✖</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% endif %}
      </table>
    </section>
      {% if medicinList is empty %}
      <p class="no-meds-msg">{{ "medicin.noMedsMsg" | trans }}</p>
      {% endif %}
  </main>

  <!--Container for the table to add medikamenter-->
  <aside class="medicinListe-container__AddMedicin">
    <header class="medicinListe-container__header">
      <h1>Tilføj medicin</h1>
      <div class="divider dark"></div>
    </header>
    <section class="medicinListe-container__AddMedicin-description">
      <p>{{ "medicin.addMedDescription1" | trans }}</p>
      <p>{{ "medicin.addMedDescription2" | trans }}</p>
    </section>
    <section class="medicinListe-container__AddMedicin-form">
      {{ form_start(form) }}
      {% if error %}
      <div class="alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
      {% endif %}

      {{ form_start(form) }}
      {{ form_row(form.MedikamentNavn) }}
      {{ form_row(form.TidspunkterTages) }}
      <div class="medicinListe-container__AddMedicin-form__input-group">
        {{ form_row(form.Dosis) }}
        {{ form_row(form.Enhed) }}
      </div>
      <div class="medicinListe-container__AddMedicin-form__input-group">
        {{ form_row(form.TimeInterval) }}
        {{ form_row(form.Prioritet) }}
      </div>

      <button class="medicinListe-container__AddMedicin-button" type="submit">
        {{ "medicin.addMedButton" | trans }}
      </button>
      {{ form_end(form) }}
    </section>
  </aside>
</div>
{% endblock %}
