{% extends 'base.html.twig' %} {% block content %}
<div class="main-container profil">
  <!--VENSTRE SIDE: BRUGERINFO-->
  <!------profilbillede------>
  <aside class="profil-container-left">
    <header class="profil-header">
      <h1>{{ "profile.title" | trans }}</h1>
    </header>
    {#---Tilføj billede her---#}
    <div class="profil-billede-container">
      {% if user.profilBillede %}
      <img
        src="{{ asset('uploads/' ~ user.profilBillede) }}"
        alt="{{ 'profile.altImage' | trans }}"
        class="profil-billede" />
      <div class="profil-billede__form-button-container">
        <form method="post" action="{{ path('profil_slet_billede') }}">
          <button type="submit" class="profil-billede__form-button slet">
            {{ "profile.deleteImage" | trans }}
          </button>
        </form>
        {{ form_start(profilBilledeForm, { multipart: true }) }}
        {{
          form_widget(profilBilledeForm.profilBillede, {
            attr: {
              id: "profilUpload",
              style: "display: none;"
            }
          })
        }}

        <button
          type="button"
          onclick="document.getElementById('profil_billede_profilBillede').click();"
          class="profil-billede__form-button">
          {{ "profile.changeImage" | trans }}
        </button>

        <button type="submit" class="profil-billede__form-button">
          {{ "profile.uploadImage" | trans }}
        </button>

        {{ form_end(profilBilledeForm) }}
      </div>
      {% else %}
      <img
        src="{{ asset('uploads/nopfp.jpg') }}"
        alt="No {{ 'profile.altImage' | trans }}"
        class="profil-billede" />
      {% endif %}
    </div>
  </aside>

  <!--hØJRE SIDE: GENEREL INFORMATION-->
  <!------Generel information og kontaktperson------>
  <main>
    {#------Generel information------#}
    <header class="main-info-header">
      <h1>{{ "profile.generalTitle" | trans }}</h1>
      <h1>{{ "profile.contactTitle" | trans }}</h1>
    </header>
    <div class="divider dark"></div>
    <div class="main-info-container">
      <section class="general-info-container">
        <div class="general-info">
          <h2>{{ user.fuldeNavn }}</h2>
          <p>{{ "profile.generalDescription" | trans }}</p>

          <p>
            <strong>{{ "profile.generalInfoEmail" | trans }}</strong>
            <br />
            {{ user.email }}
          </p>

          <p>
            <strong>{{ "profile.generalInfoNumber" | trans }}</strong>
            <br />
            {% if user.telefonNummer is not empty %}
            {{ user.telefonNummer }}
            {% else %}
            {{ "profile.noPhone" | trans }}
            {% endif %}
          </p>
          <p>
            <strong>{{ "profile.generalInfoAddress" | trans }}</strong>
            <br />
            {% if user.addresse is empty %}
            {{ "profile.noAddress" | trans }}
            {% else %}
            {{ user.addresse }}
            {{ user.postnummer }} {{ user.byNavn }}
            {% endif %}
          </p>
        </div>
      </section>

      <section class="contact-person-container">
        {% if user.omsorgspersonNavn and not app.request.get('edit') %} {#Vis
        gemt kontaktperson, med redigér-knap #}
        <p>
          <span style="font-size: 0.9em">
            <strong>Fulde navn:</strong> <br />
          </span>
          <span style="font-size: 0.8em">
            {{ user.omsorgspersonNavn }}
          </span>
        </p>

        <p>
          <span style="font-size: 0.9em">
            <strong>Telefonnr.:</strong> <br />
          </span>
          <span style="font-size: 0.8em">
            {{ user.omsorgspersonTelefon }}
          </span>
        </p>

        <p>
          <span style="font-size: 0.9em"> <strong>Email:</strong> <br /> </span>
          <span style="font-size: 0.8em">
            {{ user.omsorgspersonEmail }}
          </span>
        </p>

        <a
          href="{{ path('profil', { edit: 1 }) }}"
          style="
            display: block;
            width: fit-content;
            margin-right: 60px auto;
            border: 1.5px solid #96d0e4;
            padding: 6px 12px;
            border-radius: 4px;
            text-decoration: none;
            font-size: 0.8em;
          ">
          Redigér kontaktperson
        </a>

        {% else %} {#------Vis formular til registrering eller
        redigering------#}
        <h3>
          {{ user.omsorgspersonNavn ? "Redigering" : "Registrering" }} af
          Kontaktperson:
        </h3>
        <hr style="width: 300px; border: 1px solid #96d0e4; margin: 20px 0" />

        {{ form_start(caregiverForm) }}
        <div style="margin-bottom: 15px">
          {{
            form_label(caregiverForm.omsorgspersonNavn, "Fulde navn:", {
              label_attr: {
                style:
                  "display: inline-block; width: 120px; font-weight: bold; font-size: 0.9em; color: #212121"
              }
            })
          }}
          <br />
          {{
            form_widget(caregiverForm.omsorgspersonNavn, {
              attr: {
                style: "background-color: #ffffff; border: 1px solid #96D0E4;"
              }
            })
          }}
        </div>

        <div style="margin-bottom: 10px">
          {{
            form_label(caregiverForm.omsorgspersonTelefon, "Telefonnr.:", {
              label_attr: {
                style:
                  "display: inline-block; width: 120px; font-weight: bold; font-size: 0.9em; color: #212121"
              }
            })
          }}
          <br />
          {{
            form_widget(caregiverForm.omsorgspersonTelefon, {
              attr: {
                style: "background-color: #ffffff; border: 1px solid #96D0E4;"
              }
            })
          }}
        </div>

        <div style="margin-bottom: 20px">
          {{
            form_label(caregiverForm.omsorgspersonEmail, "Email:", {
              label_attr: {
                style:
                  "display: inline-block; width: 120px; font-weight: 600; font-size: 0.9em; color: #212121"
              }
            })
          }}
          <br />
          {{
            form_widget(caregiverForm.omsorgspersonEmail, {
              attr: {
                style: "background-color: #ffffff; border: 1px solid #96D0E4;"
              }
            })
          }}
        </div>

        <button
          type="submit"
          style="
            all: unset;
            display: inline-block;
            padding: 6px 12px;
            border: 1.5px solid #96d0e4;
            border-radius: 4px;
            background-color: transparent;
            font-size: 0.8em;
            cursor: pointer;
            text-align: center;
          ">
          {{ user.omsorgspersonNavn ? "Opdatér" : "Registré" }}
        </button>
        {{ form_end(caregiverForm) }}
        {% endif %}
      </section>
    </div>
  </main>
</div>
{% endblock %}
