{% extends 'base.html.twig' %} {% block content %}

<div class="main-container">
    <header class="udstyr-header">
        <h1>Udstyr</h1>
    </header>

    <nav class="udstyr-nav">
        <ul class="udstyr-nav-list">
            <li><a href="#kitchen">Køkken</a></li>
            <li><a href="#bedroom">Soveværelse</a></li>
            <li><a href="#living-room">Stue</a></li>
            <li><a href="#dining-room">Spisestue</a></li>
            <li><a href="#bathroom">Badeværelse</a></li>
        </ul>
    </nav>
    
    <section class="udstyr-container">
        {% for udstyr in UdstyrListe%}
        {% if udstyr.lokale.value == 'Køkken' %}
        <div style="border: 1px solid #ccc; border-radius: 12px; padding: 20px; width: 325px; background-color: #f9f9f9;">
            <h2>{{udstyr.enhed}}</h2>
            <p>{{udstyr.lokale.value}}</p>
            <p>{{udstyr.status}}</p>
            <p>{{udstyr.power}}%</p>
        </div>
        {% endif %}
        {% if udstyr.lokale.value == 'Soveværelse' %}
        <div style="border: 1px solid #ccc; border-radius: 12px; padding: 20px; width: 325px; background-color: #f9f9f9;">
            <h2>{{udstyr.enhed}}</h2>
            <p>{{udstyr.lokale.value}}</p>
            <p>{{udstyr.status}}</p>
            <p>{{udstyr.power}}%</p>
        </div>
        {% endif %}
        {% if udstyr.lokale.value == 'Stue' %}
        <div style="border: 1px solid #ccc; border-radius: 12px; padding: 20px; width: 325px; background-color: #f9f9f9;">
            <h2>{{udstyr.enhed}}</h2>
            <p>{{udstyr.lokale.value}}</p>
            <p>{{udstyr.status}}</p>
            <p>{{udstyr.power}}%</p>
        </div>
        {% endif %}
        {% if udstyr.lokale.value == 'Spisestue' %}
        <div style="border: 1px solid #ccc; border-radius: 12px; padding: 20px; width: 325px; background-color: #f9f9f9;">
            <h2>{{udstyr.enhed}}</h2>
            <p>{{udstyr.lokale.value}}</p>
            <p>{{udstyr.status}}</p>
            <p>{{udstyr.power}}%</p>
        </div>
        {% endif %}
        {% if udstyr.lokale.value == 'Badeværelse' %}
        <div style="border: 1px solid #ccc; border-radius: 12px; padding: 20px; width: 325px; background-color: #f9f9f9;">
            <h2>{{udstyr.enhed}}</h2>
            <p>{{udstyr.lokale.value}}</p>
            <p>{{udstyr.status}}</p>
            <p>{{udstyr.power}}%</p>
        </div>
        {% endif %}
        {% endfor %}
    </section>


</div>
{% endblock %}