{% extends 'base.html.twig' %} {% block content %}
<div class="main-container udstyr">
  {% if udstyrListe is empty %}
  <div class="no-udstyr-msg">{{ 'equipment.noEquipment' | trans }}</div>
  {% else %}

  <header class="udstyr-header">
    <h1>{{ 'equipment.title'|trans }}</h1>
  </header>

  <section class="udstyr-container-wrapper">
    <nav class="udstyr-nav">
      <ul class="udstyr-nav-list">
        <li>
          <button class="filter-button" data-room="Køkken">
            {{ 'equipment.navKitchen' | trans }}
          </button>
        </li>
        <li>
          <button class="filter-button" data-room="Soveværelse">
            {{ 'equipment.navBedroom' | trans }}
          </button>
        </li>
        <li><button class="filter-button" data-room="Stue">
            {{ 'equipment.navLivingRoom'|trans }}
        </button></li>
        <li>
          <button class="filter-button" data-room="Spisestue">
            {{ 'equipment.navDiningRoom'|trans }}
          </button>
        </li>
        <li>
          <button class="filter-button" data-room="Badeværelse">
            {{ 'equipment.navBathroom'|trans }}
          </button>
        </li>
        <li>
          <button class="filter-button" data-room="Alle">
            {{ 'equipment.navAll'|trans }}
          </button>
        </li>
      </ul>
    </nav>

    <section class="udstyr-container">
      {% for udstyr in udstyrListe %}
      <div
        class="udstyr-item room-section"
        data-room="{{ udstyr.lokale.value }}">
        <h2>{{ udstyr.enhed }}</h2>
        <p>{{'equipment.room'|trans}}: {{ udstyr.lokale.value }}</p>
        <p>{{ 'equipment.status'|trans }}: {{ udstyr.status }}</p>
        <p>{{ 'equipment.power'|trans }}: {{ udstyr.power }}%</p>
      </div>
      {% endfor %}
    </section>
  </section>

  <p id="no-selection-msg">{{ 'equipment.noSelection'|trans }}</p>
  {% endif %}
</div>

{% endblock %}
