{% extends 'base.html.twig' %} {% block content %}


<div class="main-container">


    <header class="udstyr-header">
        <h1>Udstyr</h1>
    </header>

<section class="udstyr-container-wrapper">
    <nav class="udstyr-nav">
        <ul class="udstyr-nav-list">
            <li><button class="filter-button" data-room="Køkken">Køkken</button></li>
            <li><button class="filter-button" data-room="Soveværelse">Soveværelse</button></li>
            <li><button class="filter-button" data-room="Stue">Stue</button></li>
            <li><button class="filter-button" data-room="Spisestue">Spisestue</button></li>
            <li><button class="filter-button" data-room="Badeværelse">Badeværelse</button></li>
            <li><button class="filter-button" data-room="Alle">Alle rum</button></li>
        </ul>
    </nav>

    <section class="udstyr-container">
        {% for udstyr in udstyrListe %}
            <div class="udstyr-item room-section" data-room="{{ udstyr.lokale.value }}">
                <h2>{{ udstyr.enhed }}</h2>
                <p>Rum: {{ udstyr.lokale.value }}</p>
                <p>Status: {{ udstyr.status }}</p>
                <p>Power: {{ udstyr.power }}%</p>
            </div>
        {% endfor %}
    </section>
</section>

<p id="no-selection-msg">Vælg et rum for at se udstyr.</p>

</div>

{% endblock %}