<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ForglemMigEj{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ asset('Images/favicon.ico') }}" />

      

    {% block javascripts %} {% block importmap %}
    {{
      importmap("app")
    }}
    {% endblock %} {% endblock %}
  </head>

  <body>
    <div style="display: flex; height: 100%">
      <aside>
        <div
          style="
            display: flex;
            width: auto;
            justify-content: center;
            align-items: center;">
          <img
            src="{{ asset('Images/favicon.ico') }}"
            alt="ForglemMigEj logo"
            style="max-width: 80px" />
          <h1>ForglemMigEj</h1>
        </div>

        <div>
          <nav class="nav">
            <a href="{{ path('home') }}" data-page="home" style="all: unset">
              <div class="nav-item">
                <div class="nav-text">> Forside</div>
              </div>
            </a>
            <a
              href="{{ path('medicin') }}"
              data-page="medicin"
              style="all: unset">
              <div class="nav-item">
                <div class="nav-text">> Medicin</div>
              </div>
            </a>
            <a
              href="{{ path('historik') }}"
              data-page="historik"
              style="all: unset">
              <div class="nav-item">
                <div class="nav-text">> Historik</div>
              </div>
            </a>
            <a
              href="{{ path('udstyr') }}"
              data-page="udstyr"
              style="all: unset">
              <div class="nav-item">
                <div class="nav-text">> Udstyr</div>
              </div>
            </a>
            <a
              href="{{ path('profil') }}"
              data-page="profil"
              style="all: unset">
              <div class="nav-item">
                <div class="nav-text">> Profil</div>
              </div>
            </a>
            <a
              href="{{ path('hjaelp') }}"
              data-page="hjaelp"
              style="all: unset">
              <div class="nav-item">
                <div class="nav-text">> Hjælp</div>
              </div>
            </a>
            <a href="{{ path('login') }}" data-page="login" style="all: unset">
              <div class="nav-item">
                <div class="nav-text">> Log ind</div>
              </div>
            </a>
          </nav>
        </div>
      </aside>

      <div class="main-content" id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
