<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ForglemMigEj{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ asset('Images/favicon.ico') }}" />

    {% block javascripts %} {% block importmap %}
    {{
      importmap("app")
    }}
    {% endblock %} {% endblock %}
  </head>

  <body>
    <div class="page-layout">
      <aside class="sidebar" aria-label="Hovedmenu">
        <header>
          <div class="logo-container">
            <img
              src="{{ asset('Images/favicon.ico') }}"
              alt="ForglemMigEj logo" />
            <h2>ForglemMigEj</h2>
          </div>
        </header>

        <nav class="nav" role="navigation">
          <ul>
            <li>
              <a href="{{ path('home') }}" class="nav-link" data-page="home">
                <div class="nav-item">
                  <div class="nav-text">&gt; Forside</div>
                </div>
              </a>
            </li>
            <li>
              <a
                href="{{ path('medicin') }}"
                class="nav-link"
                data-page="medicin">
                <div class="nav-item">
                  <div class="nav-text">&gt; Medicin</div>
                </div>
              </a>
            </li>
            <li>
              <a
                href="{{ path('historik') }}"
                class="nav-link"
                data-page="historik">
                <div class="nav-item">
                  <div class="nav-text">&gt; historik</div>
                </div>
              </a>
            </li>
            <li>
              <a
                href="{{ path('udstyr') }}"
                class="nav-link"
                data-page="udstyr">
                <div class="nav-item">
                  <div class="nav-text">&gt; Udstyr</div>
                </div>
              </a>
            </li>
            <li>
              <a
                href="{{ path('profil') }}"
                class="nav-link"
                data-page="profil">
                <div class="nav-item">
                  <div class="nav-text">&gt; Profil</div>
                </div>
              </a>
            </li>
            <li>
              <a href="{{ path('login') }}" class="nav-link" data-page="login">
                <div class="nav-item">
                  <div class="nav-text">&gt; Log ind</div>
                </div>
              </a>
            </li>
            <li>
              <a
                href="{{ path('hjaelp') }}"
                class="nav-link"
                data-page="hjaelp">
                <div class="nav-item">
                  <div class="nav-text">&gt; Hjælp</div>
                </div>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      <div class = "main-content-background"></div>
      <div class="main-content" id="content">

        {% if app.request.attributes.get('_route') != 'login' %}
        {% if app.request.attributes.get('_route') != 'register' %}
        
        <div class ="user-info-container">
          <div class="user-info">
            <h1>Logget ind som:</h1>
            <h2>{{ app.user.fuldeNavn }}</h2>
          </div>
          <div class="line-separator dark"></div>
        </div>
        {% endif %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
