{# templates/_form_macros.html.twig #}
{% macro inputField(labelText, fieldName, fieldType, fieldValue, fieldId, fieldClass) %}
  <label for="{{ fieldId }}">{{ labelText }}</label>
  <input
    type="{{ fieldType }}"
    name="{{ fieldName }}"
    id="{{ fieldId }}"
    class="{{ fieldClass }}"
    value="{{ fieldValue }}"
    autocomplete="{{ fieldType == 'email' ? 'email' : 'current-password' }}"
    required
  />
{% endmacro %}
